<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-brand">
            reactive.gutblatt.de
        </div>
        <div class="navbar-brand navbar-right" style="margin-right:25px;font-size: 18px;font-weight: bold;">
            Skat-Auswertung
        </div>
    </div>
</nav>

<div class="panel panel-warning">
    <div class="panel-body" style="background-color: black;padding-top:75px;">
        <div class="row">
            <div class="col-sm-2">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Saison
                    </div>
                    <div class="panel-body">
                        <div class="btn-group-vertical" role="group" style="width: 100%;">
                            <button style="width:100%;"
                                    ng-repeat="el in nameOfSeasons"
                                    class="btn btn-default" type="button"
                                    ng-click="clickSeasonAndLoadQuantity(el)"
                                    ng-class="{v2selected: el.key==currentSeason.key}">
                                {{el.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Auswertung
                    </div>
                    <div class="panel-body">
                        <div class="btn-group-vertical" role="group" style="width:100%">
                            <button style="width:100%;"
                                    ng-repeat-start="el in nameOfStatId" class="btn btn-default" type="button"
                                    ng-click="clickQuantity(el,true);"
                                    ng-class="{v2selected: el.key==currentQuantity.key}"
                                    ng-hide="(!el.old && currentSeason.old) || el.category">
                                {{el.name}}
                            </button>
                            <div ng-repeat-end ng-show="el.category"
                                 style="width:100%;background-color:antiquewhite;
                                    color:darkblue;text-align: center;font-size:18px;
                                    margin-top:30px;font-weight: bold;margin-bottom: 15px;">
                                {{el.category}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <!-- rendering -->
                <div class="panel panel-success" style="position: fixed;" ng-show="currentQuantity.render==true">
                    <div class="panel-heading">
                        <span>{{currentSeason.name}}</span>
                        <span style="float:right;">{{currentQuantity.name}}</span>
                    </div>
                    <div class="panel-body">
                        <renderZone>
                        </renderZone>
                    </div>
                </div>

                <!-- Non rendering -->
                <div class="panel panel-success" ng-show="currentQuantity.render==false">
                    <div class="panel-heading">
                        <span>{{currentSeason.name}}</span>
                        <span style="float:right;">{{currentQuantity.name}}</span>
                    </div>
                    <div class="panel-body">
                        <table id="spieltag">
                            <thead>
                            <th>
                                Spieltag
                            </th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key,obj) in arrays.days">
                                <td>
                                    {{key+1}}
                                </td>
                                <td ng-repeat-start="el in arrays.days[key] | orderBy: '-value'">
                                    <div class="emph">
                                        {{el.name}}
                                    </div>
                                </td>
                                <td ng-repeat-end>
                                    {{el.value}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




