<div class="panel panel-warning">
    <div class="panel-body" style="background-color: black;padding-top:75px;">
        <div class="row">
            <div class="col-sm-6">
                <textarea ng-model="text" style="width: 100%; height:400px;">
                </textarea>
                <button class="btn btn-primary" ng-click="sendData">
                    Submit
                </button>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
