<!-- Video -->
<video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted" width="640" height="360">
    <source src="freeLights.mp4" type="video/mp4"/>
</video>

<!-- Bubbles -->
<div id="bubbles">
    <button id="bubble1" ng-click="$root.showInfo('1');" class="bubble1 x1">
    </button>
    <button id="bubble2" ng-click="$root.showInfo('2');" class="bubble2 x2">
    </button>
    <button id="bubble3" ng-click="$root.showInfo('3');" class="bubble3 x3">
    </button>
</div>

<!-- Right side content -->
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <div style="position: fixed;
                    width:50%;
                    top: 0px;
                    bottom: 0px;
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;">

            <div style="display:flex; align-items:center; justify-content:center; flex-direction: column;">
                <div class="line0" style="margin-top:60px;">
                    <img style="opacity: 0.6;" src="bube.png"/>
                </div>
                <h2 class="line1" style="margin-top:-4px;">
                    gutblatt.de
                </h2>

                <h1 class="line2" style="margin-top:-10px;">
                    R &middot; E &middot; A &middot; C &middot; T &middot; I &middot; V &middot; E
                </h1>
            </div>

            <h3 class="line3">
                <a class="btn btn-lg btn-success"
                   href="#/start">
                    Enter
                </a>
            </h3>

            <div style="height:100px;">
                <div class="well" ng-show="$root.isOn">
                    {{$root.bubbleInfo}}
                </div>
            </div>
        </div>
    </div>
</div>



